name: CD

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v**'

jobs:
  jsr:
    name: JSR

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.x

      - name: Version
        run: deno task version "${GITHUB_REF#refs/tags/v}"

      - name: Publish
        run: deno publish --allow-dirty

  npm:
    name: NPM

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.x

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - name: Version
        run: deno task version "${GITHUB_REF#refs/tags/v}"

      - name: Build NPM prod
        run: deno task npm prod

      - name: Publish
        working-directory: npm
        run: npm publish --provenance --access public
