name: CI

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        config:
          - deno-version: 2.5.x

    name: Deno ${{ matrix.config.deno-version }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ matrix.config.deno-version }}

      - name: Legacy
        if: matrix.config.deno-lock == 0
        run: rm deno.lock

      - name: Test
        run: deno task test

      - name: Coverage
        run: deno coverage

  check:
    name: Check

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.x

      - name: Docs
        run: deno task docs

      - name: Artifact docs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: docs
          path: docs
          include-hidden-files: true

      - name: Linted
        run: deno task linted

      - name: Formatted
        run: deno task formatted

      - name: Publishable
        run: deno task publishable

  npm-dev:
    name: NPM dev

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.x

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.x

      - name: Build NPM
        run: deno task npm dev

      - name: Artifact NPM
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: npm-dev
          path: |
            npm
            !npm/node_modules
          include-hidden-files: true

  npm-prod:
    name: NPM prod

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.x

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.x

      - name: Build NPM
        run: deno task npm prod

      - name: Artifact NPM
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: npm-prod
          path: |
            npm
            !npm/node_modules
          include-hidden-files: true

      - name: Check Publish
        working-directory: npm
        run: npm publish --dry-run --tag dry-run

  node:
    strategy:
      matrix:
        node-version:
          - 25.x
          - 24.x
          - 22.x
          - 20.x

    name: Node ${{ matrix.node-version }}

    needs: npm-dev

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Artifact NPM
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: npm-dev
          path: npm

      - name: Install
        working-directory: npm
        run: npm ci

      - name: Test
        working-directory: npm
        run: npm run test

  bun:
    strategy:
      matrix:
        bun-version:
          - 1.3.2

    name: Bun ${{ matrix.bun-version }}

    needs: npm-dev

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Artifact NPM
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: npm-dev
          path: npm

      - name: Install
        working-directory: npm
        run: bun install

      - name: Test
        working-directory: npm
        run: bun run test
